<mat-card class="card">
  <mat-card-header>
    <mat-card-title>Upload Prompts</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="form-field">
      <label for="fileInput" class="custom-label">Select an XML file:</label>
      <input
        type="file"
        id="fileInput"
        (change)="onFileSelected($event)"
        accept=".xml"
        class="custom-input"
      />
    </div>
    <div *ngIf="prompts.length > 0">
      <h2>Prompts:</h2>
      <mat-list class="mat-list">
        <mat-list-item *ngFor="let prompt of prompts" class="mat-list-item">
          <div class="mat-line" mat-line>Request #{{ prompt.id }}</div>
          <div class="mat-line" mat-line>Prompt: {{ prompt.text }}</div>
        </mat-list-item>
      </mat-list>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button *ngIf="prompts.length > 0" mat-raised-button color="primary" class="align-left" (click)="navigateToInput()">Continue</button>
  </mat-card-actions>
</mat-card>
