html, body {
  min-height: 100%;
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  overflow-x: hidden; /* Prevent horizontal scrolling */
}
/* Center the container on the page */
.container {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0; /* Background color of the container */
  align-items: flex-start;
}

/* Style the card */
.card {
  max-width: 80%; /* Adjust the maximum width as needed */
  width: 100%;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  background-color: #ffffff; /* Card background color */
  overflow-y: auto; /* Allow vertical scrolling */
  margin-top: 20px; /* Add some space between the card and the container */
}

/* Style the form fields */
.form-field {
  margin-bottom: 20px;
  text-align: left;
}

/* Style the loading indicator */
.loading-indicator {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

/* Style the loading text */
.loading-indicator p {
  margin-top: 10px;
  font-weight: bold;
}

/* Set text fields to cover 80% of the width inside the container */
.full-width {
  width: 100%;
  margin: 0 auto; /* Center the text fields within the card */
}

.full-width textarea {
  min-height: 200px !important;
  width: 100%; /* Set the width to 100% of its parent container */
  margin: 0 auto; /* Center the text fields within the card */
  overflow-y: auto; /* Enable vertical scrolling */
  resize: none; /* Disable resizing if you want to keep the fixed size */
}

/* Align the "Send" button to the left and "Next" button to the right */
.align-left {
  margin-left: 0;
  margin-right: auto;
}

.align-right {
  margin-left: auto;
  margin-right: 0;
}
